$dark-color: #222222;
$dark-color-transparent: #22222231;
$dark-color-transparent-hover: #2222229a;
$dark-color-transparent-checked: #6164618c;
$light-color: #f6f6f6;
$light-color-fill: invert(99%) sepia(57%) saturate(156%) hue-rotate(220deg) brightness(118%) contrast(93%);
$light-color-hover: #b8b8b8;
$light-color-hover-fill: invert(77%) sepia(1%) saturate(0%) hue-rotate(179deg) brightness(95%) contrast(94%);
$grey: #444444;
$white: #ffffff;
$black: #000000;
$brown: #7b3f00;
$steel: #898c8f;
