.main {
  flex: 1 1 auto;

  &__container {
    display: flex;
    gap: 20px;
  }

  &__settings {
    position: sticky;
    top: 1.5rem;
    height: 100%;
  }

  &__cards {
    flex: 1 1 100%;
  }
}

@media (max-width: 1440px ) {
  .main {
    &__container {
      gap: calc(10px + 10 * (100vw - 768px) / (1440 - 768));
    }
  }
}

@media (max-width: 768px) {
  .main {
    &__container {
      gap: 10px;
    }
  }
}
